.btnContainer {
  position: relative;
}

.btn {
  position: fixed;
  bottom: 2rem;
  right: 0.75rem;
  height: 2.75rem;
  width: 2.75rem;
  font-size: 1.75rem;
  line-height: 2rem;
  cursor: pointer;
  color: #f0f0f0;
}
